.footer__title {
  margin-top: 50px;
  font-size: 3em;
  text-align: center;
}

.contacts__list {
  list-style-type: none;
  font-size: 1.1em;
}

.contacts__address {
  width: 150px;
  padding-bottom: 30px;
  position: relative;
}

.contacts__address::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("/img/location.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50px, 0px);
}

.contacts__phone {
  padding-bottom: 10px;
}

.contacts__phone::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("/img/phone-call.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50px, -10px);
}

.contacts__mail::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 20px;
  background-image: url("/img/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-45px, -2px);
}

.contacts__item_social {
  display: inline-block;
  padding-right: 18px;
  transform: translateX(-48px);
}